// 首頁圖譬
$assetIndexPath : "http://192.168.1.234/event22/design/seminar/images/home";

// 論壇頁圖片
$assetPath : "http://192.168.1.234/event22/design/seminar/images";

// 科技新秀
$assetStarsPath : "http://192.168.1.234/event22/design/seminar/images/techNewStars";